@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #000;
    color: #fff;
}
.gameTitle {
    color: #fff;
    font-size: 1rem;
    margin: 10px 0;
    text-align: center;
    font-weight: normal;
}
canvas {
    /*border: 4px solid #ccc;
    border-bottom: 4px solid #ff0000;*/
    margin: 0 auto;
    display: block;
    background: url(../images/gsacademylogo.png) no-repeat center center;
}
#count {
    font-size: 1rem;
    /*position: absolute;
    top: 100px;
    left: 50%;
    margin-left: 220px;*/
}
#infoBox {
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: 220px;
}
